<!DOCTYPE html>
<html>
  <head>

    <title>Page Title</title>

    <link rel="stylesheet" href={{ url_for('static', filename='styles_v2.css') }}>

  </head>
  <body>

    <div class="Overview text">

      <h1>Styles</h1>
      <p>The HTML style attribute is used to add styles to an element, such as color, font, size, and more.</p>

      <h2>There are three ways of selecting a html tag</h2>

      <ol>
        <li>The element selector: selects html elements based on the tag</li>
        <li>The Class Selector: Selects elements with a specific class attribute that is
            set in the tag</li>
        <li>The ID selector: They select a html with a specific id attribute that is set
            in the tag</li>
      </ol>

    </div>

    <br>

    <h1 id="TeamTitle">Our Team </h1>

    <div class="card-overview important-cards">

        <div class="card" style="background-color: red;">
          <img class="avatars" src="https://image.flaticon.com/icons/png/512/194/194938.png" alt="Avatar">
          <div class="container">
            <h4><b>Sandra Phillips</b></h4>
            <p>Chief Scientist & CEO</p>
          </div>
        </div>

        <div class="card">
          <img class="avatars" src="https://www.flaticon.com/svg/static/icons/svg/147/147144.svg" alt="Avatar">
          <div class="container">
            <h4><b>John Stewart</b></h4>
            <p>Marketing</p>
          </div>
        </div>

        <div class="card">
          <img class="avatars" src="https://cdn.iconscout.com/icon/free/png-512/avatar-373-456325.png" alt="Avatar">
          <div class="container">
            <h4><b>Janette Williams</b></h4>
            <p>Finance</p>
          </div>
        </div>

      </div>

  </body>
</html>
