

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1>Showroom</h1>
{% for index, row in products_df.iterrows() %}

  <div class="card">
    <h3>Product No. {{ index+1 }}:</h3>
    <p>{{ row['name'] }}</p>
    <p>{{ row['description'] }}</p>
    <p>{{ row['price'] }} CHF</p>
    <p>User ID: {{ row['user_id'] }}</p>
  </div>

{% endfor %}
