<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>External</title>

    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }}>

  </head>
  <body>
    <h1>Styling</h1>

    <h2>There are three ways of adding css styles to a html file</h2>
    <p>1. Inline - by using the style attribute inside HTML elements</p>
    <p>2. Internal - by using a &lt;style&gt; element in the &lt;head&gt; section</p>
    <p>3. External - by using a &lt;link&gt; element to link to an external CSS file</p>


  </body>
</html>
