<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Ascet Fashion</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href={{ url_for("index") }}>Ascet Fashion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href={{ url_for("index") }}>Showroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for("upload") }}>Upload</a>
          </li>

          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href={{ url_for("logout") }}>Logout</a>
            </li>

          {% else %}
            <li class="nav-item">
              <a class="nav-link" href={{ url_for("register") }}>Register</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href={{ url_for("login") }}>Login</a>
            </li>
          {% endif %}

        </ul>
      </div>
    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}



    <div class="container">
      <h1>Showroom</h1>

      <div class="row">

        {% for index, row in products_df.iterrows() %}

        <div class="card col-sm" style="width: 18rem;">
          <div class="card-body">
            <!-- <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/194/194938.png" alt="Card image cap"> -->
            <h5 class="card-title">{{ row['name'] }}</h5>
            <p class="card-text">{{ row['description'] }}</p>
            <p class="card-text">{{ row['price'] }} CHF</p>
            <p class="card-text">User ID: {{ row['user_id'] }}</p>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>

  </body>
</html>
