<h1>this is a header</h1>
<h2>this is a smaller header</h2>
<h6>This is the smallest header</h6>
<p>This is for regular text</p>
<a href="www.google.com">this is a link</a>
<p>You can also put some elements in each other like this: <a href="www.google.com">Link</a> </p>


<h2>Basics</h2>

<p>You can make text <b>bold</b> (&lt;b&gt;), <em>italic</em> (&lt;em&gt;) or <u>underline</u>(&lt;u&gt;) </p>


<p>You can create empty lines (linebreaks) using the &lt;br&gt; tag (like after this line)</p>
<br>
<p>The line break was inserted above this line</p>


<p>You can change the text displayed in the tab name (title) by using the title tag</p>
<title>Hello</title>

<p>'divs' are containers that you can use to group elements, e.g. a certain section of a page or a combination of title, paragraph and an image</p>


<div>
  <h2>Images</h2>
  <p>You can also insert images</p>
  <img src="https://pbs.twimg.com/profile_images/1205132016968183811/Hdz7M7Dt.jpg" alt="HSG logo">

  <p>Sometimes you will want to change the size of images</p>
  <img src="https://pbs.twimg.com/profile_images/1205132016968183811/Hdz7M7Dt.jpg" alt="HSG logo" width="50" height="50">
</div>
